<?xml version="1.0" encoding="utf-8"?>
<daoConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		   xmlns="http://ibatis.apache.org/dataAccess">
  <daoSessionHandlers>
    <handler id="azure" implementation="CHOJ.Abstractions.AzureDaoSessionHandler,CHOJ.Abstractions">
      
    </handler>  </daoSessionHandlers>
  <context id="SqlMapDao">

    <!-- ==== Sql Server : SqlClient configuration ========= 
		-->
<!--<database>
			<dataSource name="SqlServer" connectionString="data source=(local)\NetSDK;database=NPetshop;user id=NPetshop;password=ibatisnet;connection reset=false;connection lifetime=5; min pool size=1; max pool size=50"/>
		</database>-->
    <database>    
      <dataSource name="Azure" connectionString="name=x2;"/>
    </database>
    <daoSessionHandler id="azure">
      <property name="tu" value="val"/>
    </daoSessionHandler>
    <!-- ==== Access : OleDb configuration ========= -->
    <!--<database>
      <provider name="OleDb2.0"/>
      <dataSource name="Access" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=G:\OJAzure\OnlineJudge\CHOJ2.0\CHOJ\App_Data\ASPNetDB.mdb"/>
    </database>-->
    <!-- ==== MySql : MySQLAB1Beta configuration ========= 
		too buggy in beta 1
		<database>	
			<provider name="MySQLAB1Beta" />
			<dataSource name="MySql" connectionString="Data Source=localhost;Database=npetshop;User ID=npetshop;Password=ibatis"/>
		</database>	
		-->

    <!-- ==== MySql : ByteFx configuration (ok)========= 
		<database>	
			<provider name="ByteFx" />
			<dataSource name="MySql" connectionString="Data Source=localhost;Database=npetshop;User ID=npetshop;Password=ibatis"/>
		</database>	
    - The error occurred while configure DaoSessionHandler.
- The error occurred in <property name="sqlMapConfigFile" value="sqlMap.config" xmlns="http://ibatis.apache.org/dataAccess" />
<property name="yo" value="husted" xmlns="http://ibatis.apache.org/dataAccess" />
<property name="sessionStoreFactory" value="IBatisNet.DataAccess.SessionStore.HybridWebThreadSessionStore, IBatisNet.DataAccess" xmlns="http://ibatis.apache.org/dataAccess" />.
		-->
    <!--<daoSessionHandler id="Azure">
      --><!--<property name="sqlMapConfigFile" value="sqlMap.config" />--><!--
        <property name="yo" value="husted"/>


      --><!--<property name="sessionStoreFactory"
                value="IBatisNet.DataAccess.SessionStore.HybridWebThreadSessionStore, IBatisNet.DataAccess"/>--><!--
    </daoSessionHandler>-->
    <daoFactory >

      
     <dao interface="CHOJ.Abstractions.IProfileDao,CHOJ.Abstractions" implementation="CHOJ.SdsDao.ProfileDao,CHOJ.SdsDao"/>
       
      <dao interface="CHOJ.Abstractions.IGroupDao,CHOJ.Abstractions" implementation="CHOJ.SdsDao.GroupDao,CHOJ.SdsDao"/>
      <dao interface="CHOJ.Abstractions.IAnswerDao,CHOJ.Abstractions" implementation="CHOJ.SdsDao.AnswerDao,CHOJ.SdsDao"/>
      <dao interface="CHOJ.Abstractions.IQuestionDao,CHOJ.Abstractions" implementation="CHOJ.SdsDao.QuestionDao,CHOJ.SdsDao"/>
    </daoFactory>

  </context>
</daoConfig>
<!--
- The error occurred while configure DaoSessionHandler.
- The error occurred in <property name="sqlMapConfigFile" value="sqlMap.config" xmlns="http://ibatis.apache.org/dataAccess" />.  
- Check the IBatisNet.DataAccess.DaoSessionHandlers.SqlMapDaoSessionHandler.
-->