<?xml version="1.0" encoding="utf-8"?>
<daoConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		   xmlns="http://ibatis.apache.org/dataAccess">
  <context id="SqlMapDao">

    <!-- ==== Sql Server : SqlClient configuration ========= 
		<database>
			<dataSource name="SqlServer" connectionString="data source=(local)\NetSDK;database=NPetshop;user id=NPetshop;password=ibatisnet;connection reset=false;connection lifetime=5; min pool size=1; max pool size=50"/>
		</database>-->


    <!-- ==== Access : OleDb configuration ========= -->
    <database>
      <provider name="OleDb2.0"/>
      <dataSource name="Access" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=G:\CHOJ\CHOJ\App_Data\ASPNetDB.mdb"/>
    </database>

    <!-- ==== MySql : MySQLAB1Beta configuration ========= 
		too buggy in beta 1
		<database>	
			<provider name="MySQLAB1Beta" />
			<dataSource name="MySql" connectionString="Data Source=localhost;Database=npetshop;User ID=npetshop;Password=ibatis"/>
		</database>	
		-->

    <!-- ==== MySql : ByteFx configuration (ok)========= 
		<database>	
			<provider name="ByteFx" />
			<dataSource name="MySql" connectionString="Data Source=localhost;Database=npetshop;User ID=npetshop;Password=ibatis"/>
		</database>	
		-->
    <daoSessionHandler id="SqlMap">
      <property name="sqlMapConfigFile" value="sqlMap.config" />
    </daoSessionHandler>
    
    <daoFactory >

      <!--<dao interface="CHOJ.Abstractions.IQuestionDao,CHOJ.Abstractions" implementation="CHOJ.AccessDao.QuestionDao,CHOJ.AccessDao"/>-->
     <dao interface="CHOJ.Abstractions.IProfileDao,CHOJ.Abstractions" implementation="CHOJ.SdsDao.ProfileDao,CHOJ.SdsDao"/>
     <!--  <dao interface="CHOJ.Abstractions.IAnswerDao,CHOJ.Abstractions" implementation="CHOJ.AccessDao.AnswerDao,CHOJ.AccessDao"/>-->
      <!--<dao interface="CHOJ.Abstractions.IGroupDao,CHOJ.Abstractions" implementation="CHOJ.AccessDao.GroupDao,CHOJ.AccessDao"/>-->
    </daoFactory>

  </context>
</daoConfig>
<!--
- The error occurred while configure DaoSessionHandler.
- The error occurred in <property name="sqlMapConfigFile" value="sqlMap.config" xmlns="http://ibatis.apache.org/dataAccess" />.  
- Check the IBatisNet.DataAccess.DaoSessionHandlers.SqlMapDaoSessionHandler.
-->