<?xml version="1.0" encoding="utf-8"?>
<daoConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		   xmlns="http://ibatis.apache.org/dataAccess">
  <daoSessionHandlers>
    <handler id="azure" implementation="CHOJ.Abstractions.AzureDaoSessionHandler,CHOJ.Abstractions">

    </handler>
  </daoSessionHandlers>
  <context id="SqlMapDao">
    <database>
      <dataSource name="Azure" connectionString="name=x2;"/>
    </database>
    <daoSessionHandler id="azure">
      <property name="tu" value="val"/>
    </daoSessionHandler>
    <daoFactory >
      <dao interface="CHOJ.Abstractions.IProfileDao,CHOJ.Abstractions" implementation="CHOJ.SdsDao.ProfileDao,CHOJ.SdsDao"/>
      <dao interface="CHOJ.Abstractions.IGroupDao,CHOJ.Abstractions" implementation="CHOJ.SdsDao.GroupDao,CHOJ.SdsDao"/>
      <dao interface="CHOJ.Abstractions.IAnswerDao,CHOJ.Abstractions" implementation="CHOJ.SdsDao.AnswerDao,CHOJ.SdsDao"/>
      <dao interface="CHOJ.Abstractions.IQuestionDao,CHOJ.Abstractions" implementation="CHOJ.SdsDao.QuestionDao,CHOJ.SdsDao"/>
    </daoFactory>

  </context>
  <context id="AzureTable">
    <database>
      <dataSource name="Azure" connectionString="name=x2;"/>
    </database>
    <daoSessionHandler id="azure">
      <property name="tu" value="val"/>
    </daoSessionHandler>
    <daoFactory >
      <dao interface="CHOJ.Abstractions.IProfileDao,CHOJ.Abstractions" implementation="CHOJ.AzureTable.ProfileDao,CHOJ.AzureTable"/>
      <dao interface="CHOJ.Abstractions.IGroupDao,CHOJ.Abstractions" implementation="CHOJ.AzureTable.GroupDao,CHOJ.AzureTable"/>
      <!--<dao interface="CHOJ.Abstractions.IAnswerDao,CHOJ.Abstractions" implementation="CHOJ.AzureTable.AnswerDao,CHOJ.AzureTable"/>
      <dao interface="CHOJ.Abstractions.IQuestionDao,CHOJ.Abstractions" implementation="CHOJ.AzureTable.QuestionDao,CHOJ.AzureTable"/>-->
    </daoFactory>

  </context>
</daoConfig>
