body{background: #FAFCFD url(/Image/asual-bg.jpg) repeat-x;}

.Login,.ChangePassword,.CreateUserWizard,.PasswordRecovery{
    font-family: Verdana;
    font-size: 0.8em;
    padding: 4px; 
    border: solid 1px #284775;
	color:#333333;
	margin-left:auto;
	margin-right:auto;
}
.Login{width: 18em;}
.ChangePassword{ width: 28em;}
.CreateUserWizard{width: 50em;}
.PasswordRecovery{width: 28em;}
.Login_td,.TitlePanel,.HeaderTextPanel
{
	font-weight: bold;
    color: #F7F6F3;
    background: #284775;
    text-align: center;
    height: 1.2em;
    margin-bottom: 0.3em;
    padding-top: 0.4em;
	color:White;
}
.StepTitlePanel
{
    font-weight: bold;
    text-align: center;
    color: #F7F6F3;
    background: #5D7B9D;
    height: 1.5em;
    padding-top: 0.2em;
    margin: 4px;
}
.InstructionPanel
{
    text-align: left;
    color: #284775;
    background: #EEEEEE;
    padding-top: 0.5em;
    margin: 4px;
    border: solid 10px #EEEEEE;
}
.Panel
{
	text-align:right;
	padding: 0.25em 0.1em 0 0;
}
.CreateUserWizard .Panel
{margin-right: 18em;
}
.Panel Lable
{
	white-space: nowrap;
}
.GV{
	text-align:left;
	color:#333333;
	font-size:0.8em;
	width:100%;
	border-collapse:collapse;}
.pg{
	background-color:#284775;
	Color:White; 
	text-align:center;
	}
.re{
	 background-color:White;
	 Color:#284775
	}
.Login_td a,.pg a{
	color:White!important 
	}
.rb{
	background-color:#F7F6F3;
	}

.textStyle{
	 font-weight:bold;
	 color:#5D7B9D
	}
.textSample{
	color:#333333;
}
.list10{width:8em;}
.list8{width:4em;}


#main {
	margin: 0 auto;
	text-align: left;
}
#contentHeadLeft {
	background: #FAFCFD url(/Image/asual-headleft.jpg) no-repeat;
	height: 28px;
	padding-left: 22px;
}
#contentHeadCenter {
	background: url(/Image/asual-headcenter.jpg) repeat-x;
	height: 100%;
	margin: 0 6px;
}
#contentHeadRight {
	background: url(/Image/asual-headright.jpg) no-repeat right;
	height: 100%;
	padding-right: 22px;
}
#contentBodyLeft 
{
	background: url(/Image/asual-bodyleft.jpg) repeat-y;
	padding-left: 22px;
	clear: both;
}
#contentBodyCenter {
	height: auto;
	background: url(/Image/asual-bodycenter.jpg);
}
#contentBodyRight {
	padding-right: 22px;
	background: url(/Image/asual-bodyright.jpg) repeat-y right;
}
#contentFootLeft {
	background: #FAFCFD url(/Image/asual-footleft.jpg) no-repeat;
	height: 28px;
	padding-left: 22px;
	clear: both;
}
#contentFootCenter {
	background: url(/Image/asual-footcenter.jpg) repeat-x;
	height: 100%;
	margin: 0 6px;
}
#contentFootRight {
	background: url(/Image/asual-footright.jpg) no-repeat right;
	height: 100%;
	padding-right: 22px;
}
#content {
	background: #D5DEED url(/Image/asual-content.jpg) repeat-x;
	width: auto;
	height: auto;
	margin: 0;
	padding: 16px 22px 0;
	color: #000000;
}
#entries {
	width: 100%;
	float: left; 
	clear: both;
	margin-right: -18em;
}
* html #entries{
	overflow: hidden;
}
.clear {
	clear: both;
	height: 0;
}