<?xml version="1.0" encoding="utf-8"?>
<Config>
  <item name="Title">OnLine Judge - Written by ZouJian</item>
  <item name="WebSiteName">OnLine Judge</item>
  <item name="Floor">&lt;hr /&gt;
&lt;div class="center"&gt;
Jmsu 2007 Writen by ZouJian &lt;a href="http://www.cnblogs.com/chsword/category/99243.html"&gt;Bug submit &amp; FAQ&lt;/a&gt;
&lt;a href="http://www.codeplex.com/OnlineJudge"&gt;Get New from Codeplex&lt;/a&gt;
&lt;/div&gt;</item>
  <item name="Hello">Hello</item>
  <item name="Login">Login</item>
  <item name="Logout">Logout</item>
  <item name="Register">Register</item>
  <item name="Registration">REGISTRATION</item>
  <item name="ChangePassword">ChangePassword</item>
  <item name="Manage">AdminManage</item>
  <item name="Help">Help</item>
  <item name="ProblemsOnline">Problems online</item>
  <item name="Status">Status</item>
  <item name="RankList">RankList</item>
  <item name="SubmitAnswer">Submit your answer</item>
  <item name="SuggestTools">Suggest tools</item>
  <item name="Cancel">Cancle</item>
  <item name="Submit">Submit</item>
  <item name="Back">Back</item>
  <item name="ChangePasswordFailureText">Invalid credentials.  Please try again. New password must longer than {0}there's the character:{1} in it。</item>
  <item name="ConfirmNewPasswordLabelText">Retype your new password:</item>
  <item name="NewPasswordLabelText">New password:</item>
  <item name="PasswordLabelText">Password:</item>
  <item name="UserNameLabelText">User Name:</item>
  <item name="ChangePassword.SuccessText">You've got a new password!</item>
  <item name="ChangePassword.SuccessTitleText">Success!</item>
  <item name="ConfirmPasswordLabelText">Confirm Password:</item>
  <item name="EmailLabelText">Email:</item>
  <item name="QuestionLabelText">Security Question:</item>
  <item name="AnswerLabelText">Answer to your Security Question:</item>
  <item name="QuestionInstructionText">Please confirm your identity by answering this question.</item>
  <item name="CompleteSuccessText">
    Your account has been created successfully. You're already logged in so just click the continue button to get started.
  </item>
  <item name="ContinueButtonText">continue</item>
  <item name="CreateUserButtonText">create user</item>
  <item name="CreateUserStep">Sign Up for Your New Account</item>
  <item name="Complete">Complete</item>
  <item name="PasswordRecoveryUserNameInstructionText">Whose password are you recovering?</item>
  <item name="PasswordRecoveryUserNameTitleText">Step 1</item>
  <item name="PasswordRecoveryQuestionTitleText">Step 2</item>
  <item name="PasswordRecoverySuccessText">Your password has been emailed to you.</item>
  <item name="ConfirmPasswordCompareErrorMessage">
    The new passwords you entered do not match.
  </item>
  <item name="ConfirmPasswordRequiredErrorMessage">New password must.</item>
  <item name="NewPasswordRegularExpressionErrorMessage">Please input another password.</item>
  <item name="PasswordRequiredErrorMessage">Password must.</item>
  <item name="UserNameRequiredErrorMessage">User name must.</item>
  <item name="UserName">UserName</item>
  <item name="Password">Password</item>
  <item name="AnswerId">AnswerId</item>
  <item name="QuestionId">Problem Id</item>
  <item name="SubmitTime">Submit Time</item>
  <item name="PasswordRecovery">PasswordRecovery</item>
  <item name="TimeLimit">Time limit</item>
  <item name="MemoryLimit">Memory limit</item>
  <item name="TotalSubmit">Total submit</item>
  <item name="AcceptedSubmit">Accepted submit</item>
  <item name="Seconds">Seconds</item>
  <item name="Compiler">Compiler</item>
  <item name="Code">Code</item>
  <item name="RememberMeText">Remember me next time.</item>
  <item name="LoginFailureText">Your login attempt was not successful. Please try again.</item>
  <item name="CreateUserText">Register here.</item>
  <item name="LoginToolTip">Please login.</item>
  <item name="PasswordRecoveryGeneralFailureText">Sorry, there has been a problem. Try again later.</item>
  <item name="PasswordRecoveryUserNameFailureText">There is a problem with the user name you provided.  Please try again.</item>
  <item name="PasswordRecoveryQuestionFailureText">The answer you provided is incorrect. Please check your records and try again.</item>
  <item name="RegistrationInstructionText"><![CDATA[
    <strong>We're glad you want to become a member!</strong>
    <br />- Enter a user name and password of your choice (type your
    password twice to ensure against mistakes).<br />- Enter your email
    address (this is where we'll send your password if you ever forget it).
    <br />- Make up a question and answer that only you will know (we'll use this 
    information to confirm your identity before sending your password via email).
    ]]></item>
  <item name="Accepted">Accepted</item>
  <item name="Ratio">Ratio</item>
</Config>