<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ChswordOJ.Models.Properties.Settings.OJDBConnectionString"
            connectionString="Data Source=CHSWORD;Initial Catalog=OJDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>