body{
	font-family:Verdana;
}
hr{
	border:#284775 1px dashed;
	 
	}
h1,.limit{
    color:#284775;}
h3{
    text-align:center;
    margin:0px
}
.center{
	text-align:center;
}
.right{float:right}
.l30{text-align:center;}
body, div, p, img, ul, li, h1, h2, h3, h4, h5, h6, form {
	margin: 0;
	padding: 0;
	border: 0;
}
.green{
	color:#127811;}
strong{
	background-color:ThreeDFace;
	font-weight:900;
}
.red{
	color:Red;}
.blue{
	color:Blue;}
#content,pre{
    background-color:#EEEEEE;
    color:#003366;
    font-size:.9em;
    padding:0 20px;
    line-height:20px;
    word-break:break-all;
    overflow:hidden;
    white-space:normal;
}
a{color: #994441;}
	
a:hover, pre:hover {
	color:black;
}
.input{
	background-color:ThreeDFace;
	color:#1C5E55;
	border-bottom-color:#1C5E55;
	border-top-color: #660000;
	border-left-color: #660000;
	border-right-color:#1C5E55;
	}
a:visited a:link a:active{
	font-size:.8em;
}

select,textarea,input{
	background:#FFFBFF;
	font-family:Verdana;
	color:#284775;
	font-size:.8em;
	}
input[type="button"],input[type="submit"],input[type="reset"]{
		border:Solid 1px #CCCCCC;
}
select,textarea,input[type="text"],input[type="password"],input[readonly="readonly"]{
	border:Solid 1px #CCCCCC;
}

.panel_content {
	height: auto;
	background: url(../image/panel-content.png) repeat-y;
	margin: 0;
	width:916px;
	padding: 0 40px;
	font-size: 14px;
	font-family: Times New Roman;
	text-align: left
}
.panel_title {
	height: 18px;
	background: transparent url(../image/panel-title.png) left bottom no-repeat;
	padding: 0 14px;
	color: #7CA9ED;
	font-size: 18px;
	font-family: Arial;
	font-weight: bold
}
.panel_bottom {
	height: auto;
	margin: 0;
	background: url(../image/panel-bottom.png) left top no-repeat
}

